<!DOCTYPE html>
<html>
  <head>
    
  </head>
  <body>
    <h1>fullchain runner</h1>
    <p>This page allows you to upload madgraph cards. These cards will be used to simulate the matrix element and run the full ATLAS Monte carlo chain</p>

    <form action="upload" method=post enctype=multipart/form-data>
      Process Card</br>
      <input type="file" name="proccard" id="proccard"></br>
      Parameter Card</br>
      <input type="file" name="paramcard" id="paramcard"></br>
      <input type="submit">
    </form>

  </body>
</html>